extends layout/layout

block title
	title News feed

block content
	include include/header

	// BEGIN news
	section.news
		.news__wrap
			.news__block
				.user.user--news.fl.fl--align-end
					a.avatar--news.avatar(href="profile.html")
						img.avatar__img(src="public/img/photo.png" alt="photo")
					.user__info-box.user__info-box--news.fl.fl--flow-col-wrap
						a.user__name.user__name--news.text--color-black.let-space--01em(href="profile.html") Sarah White
						a.user__label--need-it.text--color-black.let-space--01em(href="#") Need it
				.news__img-box
					img.news__img(src="public/img/image-news.png" alt="image-news")
					.news__img-control.fl.fl--justify-b.fl--align-c
						.news__icons-left.fl
							a.news__icon.news__icon--present(href="#" title="present")
								img(src="public/img/present.png" alt="present")
							a.news__icon.news__icon--community(href="#" title="community")
								img(src="public/img/community.png" alt="community")
						.news__icons-likes.fl.fl--align-c
							a.news__icon.news__icon--like(href="#" title="like")
								img(src="public/img/like.png" alt="like")
							span.news__count-likes.let-space--01em 129 Likes
						.news__icons-right.fl
							a.news__icon.news__icon--add(href="#" title="add")
								img(src="public/img/add.png" alt="add")
							a.news__icon.news__icon--basket(href="#" title="basket")
								img(src="public/img/basket.png" alt="basket")
				include include/descrip
				include include/comment
			.news__block
				.user.user--news.fl.fl--align-end
					a.avatar--news.avatar(href="profile.html")
						img.avatar__img(src="public/img/photo.png" alt="photo")
					.user__info-box.user__info-box--news.fl.fl--flow-col-wrap
						a.user__name.user__name--news.text--color-black.let-space--01em(href="profile.html") Sarah White
						a.user__label--need-it.text--color-black.let-space--01em(href="#") Need it
				.news__img-box
					img.news__img(src="public/img/image-news.png" alt="image-news")
					.news__img-control.fl.fl--justify-b.fl--align-c
						.news__icons-left.fl
							a.news__icon.news__icon--present(href="#" title="present")
								img(src="public/img/present.png" alt="present")
							a.news__icon.news__icon--community(href="#" title="community")
								img(src="public/img/community.png" alt="community")
						.news__icons-likes.fl.fl--align-c
							a.news__icon.news__icon--like(href="#" title="like")
								img(src="public/img/like.png" alt="like")
							span.news__count-likes.let-space--01em 129 Likes
						.news__icons-right.fl
							a.news__icon.news__icon--add(href="#" title="add")
								img(src="public/img/add.png" alt="add")
							a.news__icon.news__icon--basket(href="#" title="basket")
								img(src="public/img/basket.png" alt="basket")
				include include/descrip
				include include/comment
	// END news
	
	include include/modal
