extends layout/layout

block title
	title News feed

block content
	include include/header

	// BEGIN news
	section.content--news.fl.fl--justify-c
		.content__container.content__container--news
			.item.item--news
				.user.user--news.fl.fl--align-end
					a.avatar--news.avatar(href="profile.html")
						img.avatar__img(src="public/img/photo.png" alt="photo")
					.user__info-box.user__info-box--news.fl.fl--flow-col-wrap
						a.user__name.user__name--news.text--color-black.let-space--01em(href="profile.html") Sarah White
						a.user__label--need-it.text--color-black.let-space--01em(href="#") Need it
				.item__img-box
					a.img-thing--news(href="item.html")
						img(src="public/img/image-news.png" alt="image-news")
					.item__img-control.fl.fl--justify-b.fl--align-c
						.item__icons-left.fl
							a.item__icon.item__icon--present(href="#" title="present")
								img(src="public/img/present.png" alt="present")
							a.item__icon.item__icon--community(href="#" title="community")
								img(src="public/img/community.png" alt="community")
						.item__icons-likes.fl.fl--align-c
							a.item__icon.item__icon--like(href="#" title="like")
								img(src="public/img/like.png" alt="like")
							span.item__count-likes.let-space--01em 129 Likes
						.item__icons-right.fl
							a.item__icon.item__icon--add(href="#" title="add")
								img(src="public/img/add.png" alt="add")
							a.item__icon.item__icon--basket(href="#" title="basket")
								img(src="public/img/basket.png" alt="basket")
				.descrip
					p.descrip__title Nike Air Force 1
					p.descrip__text The legend lives on in the Nike Air Force 1, with an iconic look and plenty of cushioning...
				.comment
					a.comment__count-all.text--color-999(href="#") View all 2 comments
					.comment__box
						.comment__item.fl
							span.comment__name virtuoz
							.comment__message.fl
								a.comment__link-user(href="profile.html") @sarah white
								p.comment__text Good choice :)
					.comment__add.fl
						a.avatar.avatar--comment(href="#")
							img.avatar__img(src="public/img/photo.png" alt="avatar comment")
						textarea.textarea.textarea--comment(cols="30" rows="10" placeholder="Add a comment...")
					span.comment__date.text--color-999 6 april
			.item.item--news
				.user.user--news.fl.fl--align-end
					a.avatar--news.avatar(href="profile.html")
						img.avatar__img(src="public/img/photo.png" alt="photo")
					.user__info-box.user__info-box--news.fl.fl--flow-col-wrap
						a.user__name.user__name--news.text--color-black.let-space--01em(href="profile.html") Sarah White
						a.user__label--need-it.text--color-black.let-space--01em(href="#") Need it
				.item__img-box
					a.img-thing--news(href="item.html")
						img(src="public/img/image-news.png" alt="image-news")
					.item__img-control.fl.fl--justify-b.fl--align-c
						.item__icons-left.fl
							a.item__icon.item__icon--present(href="#" title="present")
								img(src="public/img/present.png" alt="present")
							a.item__icon.item__icon--community(href="#" title="community")
								img(src="public/img/community.png" alt="community")
						.item__icons-likes.fl.fl--align-c
							a.item__icon.item__icon--like(href="#" title="like")
								img(src="public/img/like.png" alt="like")
							span.item__count-likes.let-space--01em 129 Likes
						.item__icons-right.fl
							a.item__icon.item__icon--add(href="#" title="add")
								img(src="public/img/add.png" alt="add")
							a.item__icon.item__icon--basket(href="#" title="basket")
								img(src="public/img/basket.png" alt="basket")
				.descrip
					p.descrip__title Nike Air Force 1
					p.descrip__text The legend lives on in the Nike Air Force 1, with an iconic look and plenty of cushioning...
				.comment
					a.comment__count-all.text--color-999(href="#") View all 2 comments
					.comment__box
						.comment__item.fl
							span.comment__name virtuoz
							.comment__message.fl
								a.comment__link-user(href="profile.html") @sarah white
								p.comment__text Good choice :)
					.comment__add.fl
						a.avatar.avatar--comment(href="#")
							img.avatar__img(src="public/img/photo.png" alt="avatar comment")
						textarea.textarea.textarea--comment(cols="30" rows="10" placeholder="Add a comment...")
					span.comment__date.text--color-999 6 april
	// END news
	
	// BEGIN modal-bg
	.modal-bg
	// END modal-bg
	include include/modal friend
	include include/modal notification
	include include/modal add-wishes
