extends layout/layout

block title
	title Login

block content
	// BEGIN login
	section.login
		.login__wrap.fl.fl--flow-col-wrap.fl--justify-b
			a.logo--login.logo(href="index.html" title="logo")
				img(src="public/img/logo.svg" alt="logo")
			.login__body
				.login__check-in
					form.form(action="#")
						.form__inputs-wrap.fl.fl--flow-col-wrap
							input.input.input--name.let-space--01em(type="text" required placeholder="Username")
							.form__password
								input.input.input--pass.let-space--01em(type="password" required placeholder="Password")
								span.form__span--visible-pass
						button.form__submit.let-space--01em.btn.btn--blue(type="submit") Login
					a.login__link-foggot.text--color-ac.let-space--01em(href="#") Forgot your password?
				// BEGIN social
				include include/social
				// END social
			.login__sign-wrap.fl.fl--justify-c
				span.login__sign-up.login__sign-up--text.let-space--01em.text--color-white Need an account?
				a.login__sign-up.login__sign-up--link.text--color-white(href="#") Sign up here
	// END login
