extends layout/layout

block title
	title Profile

block content
	include include/header

	// BEGIN profile
	section.profile
		.profile__wrap
			.profile__user-info.fl.fl--justify-b
				.user
					a.avatar--profile.avatar(href="profile.html")
						img.avatar__img(src="public/img/photo.png" alt="photo")
					a.user__name.text--color-black.let-space--01em(href="profile.html") Sarah White
					.user__info-box.fl.fl--flow-col-wrap
						span.user__span-info.user__span-info--job.let-space--01em 3D Artist
						span.user__span-info.user__span-info--city.let-space--01em Haifa, Israel
				.profile__info.fl.fl--flow-col-wrap
					.profile__header.fl.fl--justify-b
						.profile__data-block.data-user.fl.fl--justify-b
							a.data-user__block.data-user__block--wishes.text--color-black.fl.fl--flow-col-wrap(href="#")
								span.data-user__span--count 234
								span.data-user__span--name.let-space--01em Wishes
							a.data-user__block.data-user__block--friends.text--color-black.fl.fl--flow-col-wrap(href="#")
								span.data-user__span--count 145
								span.data-user__span--name.let-space--01em Friends
						a.profile__btn.btn--blue.btn.let-space--01em(href="#") Follow
					// BEGIN hashtags
					.hashtags.fl.fl--align-end
						.hashtags__wrap.fl
							a.hashtags__hash.let-space--01em(href="#")
								span #selfcare
							a.hashtags__hash.let-space--01em(href="#")
								span #love
							a.hashtags__hash.let-space--01em(href="#")
								span #care
							a.hashtags__hash.let-space--01em(href="#")
								span #ideas
							a.hashtags__hash.let-space--01em(href="#")
								span #goodvibes
							a.hashtags__hash.let-space--01em(href="#")
								span #positivity
							a.hashtags__hash.let-space--01em(href="#")
								span #tumblr
							a.hashtags__hash.let-space--01em(href="#")
								span #health
							a.hashtags__hash.let-space--01em(href="#")
								span #beauty
							a.hashtags__hash.let-space--01em(href="#")
								span #lifestyle
							a.hashtags__hash.let-space--01em(href="#")
								span #tips
							a.hashtags__hash.let-space--01em(href="#")
								span #success
							a.hashtags__hash.let-space--01em(href="#")
								span #motivation
							a.hashtags__hash.let-space--01em(href="#")
								span #entrepreneur
							a.hashtags__hash.let-space--01em(href="#")
								span #digitalmarketing
					// END hashtags
			.profile__control.fl
				include include/filter
				include include/tabs
			// BEGIN gallery
			.gallery.gallery--news.fl.fl--flow-col-wrap
				a.img-thing--gallery(href="item.html")
					img.want-list__img(src="public/img/img1.png" alt="img1")
				a.img-thing--gallery(href="item.html")
					img.want-list__img(src="public/img/img2.png" alt="img2")
				a.img-thing--gallery(href="item.html")
					img.want-list__img(src="public/img/img3.png" alt="img3")
				a.img-thing--gallery(href="item.html")
					img.want-list__img(src="public/img/img4.png" alt="img4")
				a.img-thing--gallery(href="item.html")
					img.want-list__img(src="public/img/img5.png" alt="img5")
				a.img-thing--gallery(href="item.html")
					img.want-list__img(src="public/img/img6.png" alt="img6")
				a.img-thing--gallery(href="item.html")
					img.want-list__img(src="public/img/img2.png" alt="img2")
				a.img-thing--gallery(href="item.html")
					img.want-list__img(src="public/img/img6.png" alt="img6")
				a.img-thing--gallery(href="item.html")
					img.want-list__img(src="public/img/img1.png" alt="img1")
			// END gallery
	// END profile

	// BEGIN modal-bg
	.modal-bg
	// END modal-bg
	include include/modal friend
	include include/modal notification
	include include/modal add-wishes
