.avatar
	border-radius: 50%

	&--news
		width: 34px
		height: 34px
		margin-right: 15px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			width: 72px
			height: 72px
			margin-right: 20px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			width: 74px
			height: 74px

	&--comment
		width: 20px
		height: 20px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			width: 26px
			height: 26px

	&--profile
		width: 80px
		height: 80px
		border: 3px solid #fff
		box-sizing: content-box
		
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			width: 158px
			height: 158px
			margin-bottom: 10px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			width: 155px
			height: 155px

	&--notification
		width: 60px
		height: 60px
		margin-right: 10px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			width: 70px
			height: 70px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			width: 70px
			height: 70px
			margin-right: 10px

	&__img--notification
		border: 2px solid #fff
		border-radius: 50%
		height: 100%

	&--note-no-request
		background: linear-gradient(to bottom, #b38cc3 0%, #bbe2f6 100%)
		padding: 5px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			padding: 5px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			padding: 5px

	&--friend
		width: 55px
		height: 55px
		margin-right: 10px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			width: 65px
			height: 65px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			width: 65px
			height: 65px