.circles-tags
   display none

   @media screen and (min-width 576px)
      margin-bottom 20px
      display flex

   @media screen and (min-width 768px)
      margin-bottom 30px

   &__item
      font-size 18px
      line-height 20px
      border-radius 50%
      text-align center
      box-shadow 0 29px 24px rgba(8,27,113,.09)
      cursor pointer

      @media screen and (min-width 576px)
         font-size 22px
         line-height 24px

      &--first
         color #b393c7
         border 2px solid #b393c7
         width 94px
         height 94px
         margin-bottom 35px

      &--second
         color #b9d2ec
         border 2px solid #b9d2ec
         width 127px
         height 127px
         margin-right 10px

      &--third
         color #b7bde0
         border 2px solid #b7bde0
         width 175px
         height 175px

      &--fourth
         color #b6aed7
         border 2px solid #b6aed7
         width 77px
         height 77px
         margin 0 0 10px -35px

      &--fifth
         color #b8c8e6
         border 2px solid #b8c8e6
         width 111px
         height 111px
         margin 0 0 35px 30px

      &--sixth
         color #bbe3f6
         border 2px solid #bbe3f6
         width 107px
         height 107px
         margin-left -15px
