.comment
	&__count-all
		margin-bottom 5px
		color-lighten(#999)

		@media screen and (min-width 576px)
			font-size 16px
			margin-bottom 10px

		&--item
			margin-bottom 5px

	&__name
		font-family robotobold, sans-serif

	&__link-user
		color #035
		margin 0 3px
		color-lighten(#035)

		@media screen and (min-width 576px)
			margin 0 5px

	&__item
		margin-bottom 5px

		@media screen and (min-width 576px)
			margin-bottom 10px

		&--item
			margin-bottom 5px

	&__date
		text-transform uppercase
		font-size 12px;

	&__add
		@media screen and (min-width 576px)
			margin-bottom 5px
