.content
   background: url(../img/item-bg-mb.png) center top no-repeat;
   background-size: 100% 120px;

   @media screen and (min-width 576px)
      background: url(../img/item-bg-tb.png) no-repeat;
      background-size: 100% 180px;

   @media screen and (min-width 768px)
      background url(../img/content.png) no-repeat
      background-size: 100% 125px;

   &--news
      background: url(../img/news-bg-mb.png) center top no-repeat;
      background-size: 100% 75px;

      @media screen and (min-width 576px)
         background: url(../img/news-bg-tb.png) center top no-repeat;
         background-size 100% 88px

      @media screen and (min-width 768px)
         background url(../img/content.png) no-repeat
         background-size 100% 104px

   &__container
      margin 0 15px
      max-width 460px
      padding 35px 0 60px

      @media screen and (min-width 576px)
         max-width 668px
         margin 0 50px
         padding 50px 0 110px

      @media screen and (min-width 768px)
         max-width 724px
         padding 40px 0 20px

      &--news
         margin 0 15px -10px
         overflow hidden
         padding: 80px 0 48px;

         @media screen and (min-width 576px)
            margin 0 50px -25px
            padding 105px 0 85px

         @media screen and (min-width 768px)
            margin 0 0 -35px
