.data-user
	&__span
		&--count
			font 36px robotolight, sans-serif
			letter-spacing -.02em

			@media screen and (min-width 576px)
				font-size 44px

			@media screen and (min-width 768px)
				font-size 40px

		&--name
			font-size 18px

			@media screen and (min-width 576px)
				font-size 22px

			@media screen and (min-width 768px)
				font-size 20px
