.filter
	box-sizing content-box
	flex 1 0 auto
	padding 0 5px 0 10px
	padding-right 10px

	@media screen and (min-width 576px)
		padding 10px 0

	@media screen and (min-width 768px)
		padding 5px 10px
		margin-right 35px

	&__link
		font 16px robotolight, sans-serif;
		padding 10px

		@media screen and (min-width 576px)
			font-size 22px
			padding 0

		@media screen and (min-width 768px)
			font-size 18px
			padding 10px

		&:hover
			color #b8c5e5

		&:active
			color darken(#b8c5e5,15%)
