.gallery
	margin 0 -1% -10px
	justify-content center

	@media screen and (min-width 576px)
		justify-content space-between
		margin 0 -1% -20px

	&--news
		padding 10px 0

		@media screen and (min-width 576px)
			padding 25px 0 0
			justify-content space-between

		@media screen and (min-width 768px)
			padding 35px 0 0

	&--search
		@media screen and (min-width 576px)
			margin 0 -30px
			justify-content space-between

		@media screen and (min-width 768px)
			margin 0 -50px
