.hashtags
	flex 1 0 auto
	margin 50px 0 0 -140px

	@media screen and (min-width 576px)
		margin 0

	@media screen and (min-width 768px)
		width 445px

	&--item
		width 100%
		margin 0 0 10px

		@media screen and (min-width 576px)
			margin-bottom 15px

	&__wrap
		flex-flow row wrap
		margin 0 -1px

		&--item
			margin 0 -2px

	&__hash
		display inline
		color #616161
		margin 0 1px

		&--item
			color #035
			margin 0 2px 2px
