.list
   &--modal
      max-width 568px
      margin 0 auto

      @media screen and (min-width 576px)
         max-width 568px

      @media screen and (min-width 768px)
         height 450px
         overflow-y scroll
         overflow-x hidden
         width 100%

   &__li
      &--modal
         margin 0 0 15px

         @media screen and (min-width 576px)
            margin 0 0 20px

      &--tags
         margin-bottom 15px

         @media screen and (min-width 576px)
            margin-bottom 25px

      &--people
         margin 0 0 15px

         @media screen and (min-width 576px)
            margin 0 5px 20px
