.logo
	@media screen and (min-device-width: 320px) and (min-device-height: 320px)
		width: 100px
		height: 77px
		
	&--login
		width: 164px
		height: 125px
		margin: 0 auto 65px
		
		@media screen and (min-device-width: 320px) and (min-device-height: 320px)
			margin: 0 auto 30px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			margin: 0 auto 40px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			height: 161px
			width: 210px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			height: 200px
			width: 260px
			margin: 0 auto 60px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 1024px)
			height: 238px
			width: 310px
			margin: 0 auto 110px

	&--header
		display: none
		
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			height: 81px
			width: 106px
			display: block
