.modal-bg
	position: fixed
	width: 100vw
	height: 100vh
	top: 0
	right: 0
	left: 0
	background: rgba(0,0,0,.35)
	display: none
	
.modal
	position: fixed
	width: 90%
	top: 50%
	left: 50%
	right: 0
	background: #fff
	padding: 15px 15px 0
	transform: translate(-50%, -60%)
	font-size: 14px
	
	@media screen and (min-device-width: 576px) and (min-device-height: 576px)
		padding: 15px 15px 0
		font-size: 16px
		
	@media screen and (min-device-width: 576px) and (min-device-height: 768px)
		transform: translate(-50%, -50%)
		padding: 20px 30px 0 20px
		font-size: 18px
		
	@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
		transform: translate(-50%, -50%)
		padding: 20px 30px 0 20px
		
	@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 768px)
		font-size: 18px

	&--list
		padding-bottom: 0
		max-width: 450px
		display: none
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			width: 465px
			max-width: none
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			width: 465px
			max-width: none
	
	&--add-wish
		display: none
		
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			max-width: 768px

	&__form
		height: 200px
		padding: 10px 20px 20px 10px
		
		@media screen and (min-device-width: 320px) and (min-device-height: 576px)
			height: 400px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			height: 200px
			padding: 10px 20px 20px 30px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			height: 390px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 1024px)
			height: 440px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			height: 230px
			padding: 10px 70px 40px 80px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			height: 440px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 768px)
			height: 640px

	&__title
		font-size: 18px
		margin-bottom: 15px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			font-size: 24px
			margin-bottom: 25px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			font-size: 20px
			margin-bottom: 15px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			font-size: 24px
			margin-bottom: 25px

	&__write-set
		margin-bottom: 20px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			margin-bottom: 20px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			margin-bottom: 40px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			margin-bottom: 25px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			margin-bottom: 40px

		&--tags
			margin-bottom: 25px
			
			@media screen and (min-device-width: 576px) and (min-device-height: 320px)
				margin-bottom: 25px
				
			@media screen and (min-device-width: 576px) and (min-device-height: 768px)
				margin-bottom: 40px
				
			@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
				margin-bottom: 40px
				
			@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
				margin-bottom: 60px

	&__images
		margin-bottom: 20px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			margin-bottom: 20px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			margin-bottom: 35px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			margin-bottom: 25px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			margin-bottom: 35px

	&__img
		border: 1px solid #b7b7b7
		border-radius: 30px
		box-sizing: content-box
		width: 120px
		height: 86px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			width: 120px
			height: 105px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			width: 160px
			height: 140px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			width: 160px
			height: 140px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			width: 210px
			height: 185px

		&--front
			background: url(../img/img-wish.png) center no-repeat
			margin-right: 25px

		&--add
			background: url(../img/img-plus.png) center no-repeat

	&__btns-control
		margin-bottom: 10px
		flex-flow: column wrap
		align-items: center
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			margin-bottom: 25px
			flex-flow: row nowrap
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			margin-bottom: 45px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			margin-bottom: 30px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			margin-bottom: 45px

	&__submit
		width: 50px
		height: 50px
		background: url(../img/check.png) center/cover no-repeat
		margin: 0 auto
		display: block
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			width: 50px
			height: 50px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			width: 84px
			height: 84px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			width: 60px
			height: 60px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			width: 84px
			height: 84px

	&__close
		position: absolute
		width: 18px
		height: 18px
		padding: 5px
		top: 15px
		right: 15px
		cursor: pointer
		box-sizing: content-box

	&__ul
		height: 180px
		
		@media screen and (min-device-width: 320px) and (min-device-height: 576px)
			height: 320px
			
		@media screen and (min-device-width: 320px) and (min-device-height: 768px)
			height: 460px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			height: 180px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			height: 350px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			height: 460px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			height: 180px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			height: 320px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 768px)
			height: 460px

	&__item
		margin: 0 0 10px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			margin: 0 0 10px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			margin: 0 0 15px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			margin: 0 0 15px

.write-set
	&__title
		cursor: pointer
		margin-bottom: 5px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			margin-bottom: 5px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			margin-bottom: 10px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			margin-bottom: 5px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			margin-bottom: 10px

	&__field
		font-size: 14px
		border: none
		border-bottom: 1px solid color-ac
		font-family: robotoregular, sans-serif
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			line-height: 26px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			line-height: 30px
			font-size: 18px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			line-height: 26px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			font-size: 18px

	&__slogan
		margin-bottom: 5px

	&__textarea
		resize: none
		height: 22px
		overflow: hidden
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			height: 26px
		
.btns-control
	@media screen and (min-device-width: 576px) and (min-device-height: 320px)
		flex-flow: row nowrap

	&__btn
		color: color-ac
		text-align: center
		box-shadow: 0 10px 46px -20px #081b71
		width: 100px
		padding: 10px 0
		
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			width: 130px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			font-size: 18px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			width: 158px
			font-size: 16px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 576px)
			font-size: 18px

		&:hover
			color: #fff
			box-shadow: none

		&--need
			border: 2px solid #a2e2f0
			margin-bottom: 5px

			&:hover
				background: #a2e2f0

			&:active
				background: darken(#a2e2f0,15%)
				border-color: darken(#a2e2f0,15%)

		&--want
			border: 2px solid #f0c3c3
			margin-bottom: 5px

			&:hover
				background: #f0c3c3

			&:active
				background: darken(#f0c3c3,15%)
				border-color: darken(#f0c3c3,15%)

		&--given
			border: 2px solid #edd3b1

			&:hover
				background: #edd3b1

			&:active
				background: darken(#edd3b1,15%)
				border-color: darken(#edd3b1,15%)