.modal
	display none

	@media screen and (min-width 768px)
		position fixed
		top 0
		left 0
		right 0
		background rgba(0,0,0,.35)
		width 100vw
		height 100vh
		justify-content center
		align-items center

	&__header
		@media screen and (min-width 768px)
			justify-content space-between

	&__form
		padding 30px 0

		@media screen and (min-width 576px)
			padding 0 0 50px

		@media screen and (min-width 768px)
			height 640px
			padding 5px 80px 50px
			overflow-y scroll
			overflow-x hidden

	&__images
		margin-bottom 30px

		@media screen and (min-width 576px)
			margin-bottom 35px

	&__img
		border 1px solid #b7b7b7
		border-radius 30px
		max-width 180px
		width 100%
		padding 20% 0

		@media screen and (min-width 576px)
			width 210px
			height 184px
			max-width none
			padding 0

		&--front
			background url(../img/img-wish.png) center no-repeat
			margin-right 25px

		&--add
			background url(../img/img-plus.png) center no-repeat

	&__submit
		width 64px
		height 64px
		background url(../img/check.png) center/cover no-repeat
		margin 0 auto
		display block
		padding 0

		@media screen and (min-width 576px)
			width 84px
			height 84px

	&__close
		width 18px
		height 26px
		padding 5px
		cursor pointer
		display inline-block
		box-sizing content-box
		position relative
		margin -5px 0 0 -15px
		order 1

		&:before, &:after
			content ''
			position absolute
			width 2px
			height 20px
			left 7px
			background #fff

		&:before
			top 19px
			transform rotate(-130deg)
			transform-origin 0 0

		&:after
			bottom 19px
			transform rotate(130deg)
			transform-origin 0 100%

		@media screen and (min-width 576px)
			width 18px
			height 30px
			margin -2px 0 0 -30px

			&:before, &:after
				height 22px

			&:before
				top 21px

			&:after
				bottom 21px

		@media screen and (min-width 768px)
			width 18px
			height 18px
			padding 5px
			margin -5px -5px 0 0
			order 2

			&:before, &:after
				width 1px
				height 24px
				left 5px
				background #000

			&:before
				top 6px
				transform rotate(-45deg)

			&:after
				bottom 6px
				transform rotate(45deg)
