.social
	&--login
		margin-bottom: 90px
		
		@media screen and (min-device-width: 320px) and (min-device-height: 320px)
			margin-bottom: 60px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 320px)
			margin-bottom: 60px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			margin-bottom: 90px
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			margin-bottom: 150px
		
	&__icon
		width: 34px
		height: 34px
		padding: 5px
		box-sizing: content-box
		
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			width: 51px
			height: 51px
			padding: 0

		&--facebook
			margin-right: 15px
			
			@media screen and (min-device-width: 576px) and (min-device-height: 576px)
				margin-right: 40px