.social
	&--login
		margin-bottom 90px

		@media screen and (min-width 320px) and (min-height 320px)
			margin-bottom 60px

		@media screen and (min-width 576px) and (min-height 320px)
			margin-bottom 60px

		@media screen and (min-width 576px) and (min-height 576px)
			margin-bottom 90px

		@media screen and (min-width 576px) and (min-height 768px)
			margin-bottom 150px

	&__li
		margin 0 10px

		@media screen and (min-width 576px) and (min-height 576px)
			margin 0 20px

	&__icon
		width 34px
		height 34px
		padding 5px
		box-sizing content-box

		@media screen and (min-width 576px) and (min-height 576px)
			width 51px
			height 51px
			padding 0
