.tabs
	@media screen and (min-width 576px)
		width 154px

	@media screen and (min-width 768px)
		width 158px

	&__link
		box-sizing content-box
		width 24px
		height 24px
		padding 5px
		margin 0 5px

		@media screen and (min-width 576px)
			width 32px
			height 32px
			margin 0 15px
			padding 0

		@media screen and (min-width 768px)
			width 28px
			height 28px
			padding 5px
