.tabs
	@media screen and (min-device-width: 576px) and (min-device-height: 576px)
		width: 154px
		
	@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
		width: 154px

	&__link
		box-sizing: content-box
		width: 20px
		height: 20px
		padding: 5px
		margin: 0 5px
		
		@media screen and (min-device-width: 576px) and (min-device-height: 576px)
			width: 32px
			height: 32px
			margin: 0 15px
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			width: 28px
			height: 28px