.textarea
	font 14px robotoregular, sans-serif
	placeholder(#999, 16px)
	resize none
	width 100%
	border none
	padding 5px 10px 2px
	height 26px

	@media screen and (min-width 576px)
		placeholder(#999, 16px)
		font-size 16px
		padding 5px 10px 2px
