.want-gallery
	padding: 10px 0
	margin: -1%
	
	@media screen and (min-device-width: 320px) and (min-device-height: 320px)
		max-width: 500px
		margin: 0 auto
		
	@media screen and (min-device-width: 576px) and (min-device-height: 320px)
		max-width: 500px
		margin: 0 auto
		
	@media screen and (min-device-width: 576px) and (min-device-height: 576px)
		padding: 25px 0
		max-width: none
		
	@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
		padding: 35px 0
		max-width: none

	&__item
		width: 48%
		margin: 1%
			
		@media screen and (min-device-width: 576px) and (min-device-height: 768px)
			width: 30%
			
		@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
			width: 30%