.write-set
	&--modal
		margin-bottom 30px

		@media screen and (min-width 576px)
			margin-bottom 40px

	&--tags
		@media screen and (min-width 768px)
			margin-bottom 60px

	&__title
		cursor pointer
		margin-bottom 5px

		@media screen and (min-width 576px)
			margin-bottom 10px

	&__field
		font-size 16px
		border none
		border-bottom 1px solid color-ac
		font-family robotoregular, sans-serif

		@media screen and (min-width 576px)
			line-height 30px
			font-size 18px

	&__slogan
		margin-bottom 5px
