// BEGIN comment
.comment
  a.comment__count-all.text--color-999(href="#") View all 2 comments
  .comment__box
    .comment__item.fl
      span.comment__name virtuoz
      .comment__message.fl
        a.comment__link-user(href="index.html") @sarah white
        p.comment__text Good choice :)
  .comment__add.fl
    a.avatar.avatar--comment(href="#")
      img.avatar__img(src="public/img/photo.png" alt="avatar comment")
    textarea.comment__textarea(cols="30" rows="10" placeholder="Add a comment...")
  span.comment__date.text--color-999 6 april
// END comment
