// BEGIN filter
ul.filter.fl.fl--justify-a
  li.filter__li
    a.filter__link.text--color-ac.let-space--01em(href="#") All
  li.filter__li
    a.filter__link.text--color-ac.let-space--01em(href="#") Need
  li.filter__li
    a.filter__link.text--color-ac.let-space--01em(href="#") Want
  li.filter__li
    a.filter__link.text--color-ac.let-space--01em(href="#") Given
// END filter
