// BEGIN header
header.header
	.header__wrap.fl.fl--align-c.fl--justify-b
		a.logo--header.logo(title="logo" href="index.html")
			img(src="public/img/logo.svg" alt="logo")
		.header__menu.fl.fl--align-c.fl--justify-b
			a.header__icon.header__icon--home(href="index.html" title="home")
				img(src="public/img/home.png" alt="icon home")
			a.header__icon.header__icon--search(href="search.html" title="search")
				img(src="public/img/search.png" alt="icon search")
			a.header__icon.header__icon--user(href="login.html" title="user")
				img(src="public/img/user.png" alt="icon user")
			a.header__icon.header__icon--envelope(href="#" title="notification")
				img(src="public/img/envelope.png" alt="icon envelope")
			a.header__icon.header__icon--plus(href="#" title="plus")
				img(src="public/img/plus.png" alt="icon plus")
// END header
