.modal.modal--add-wish
	// BEGIN modal add-wishes
	section.content.content--modal.content--add-wishes.fl.fl--justify-c
		.content__container.content__container--modal.content__container--add-wishes
			.modal__header.fl
				h2.content__title.content__title--modal.let-space--01em Add wish
				span.modal__close
			form.modal__form(action="#")
				.write-set.write-set--modal.fl.fl--flow-col-wrap
					label.write-set__title.text--color-ac(for="url") Add a link from the store
					input.write-set__field#url(type="url" required)
				.modal__images.fl.fl--justify-c
					a.modal__img.modal__img--front(title="front image which to view in your wish" href="#")
						.modal__inner
					a.modal__img.modal__img--add(title="add image what you wish" href="#")
						.modal__inner
				.write-set.write-set--modal.fl.fl--flow-col-wrap
					label.write-set__title.text--color-ac(for="name") Product name
					input.write-set__field#name(type="text" required)
				// BEGIN btns-control
				.btns-control.btns-control--modal.fl.fl--justify-b
					a.btns-control__btn.btns-control__btn--need.btn.let-space--01em(href="#") Need
					a.btns-control__btn.btns-control__btn--want.btn.let-space--01em(href="#") Want
					a.btns-control__btn.btns-control__btn--given.btn.let-space--01em(href="#") Given
				// END btns-control
				.write-set.write-set--modal.fl.fl--flow-col-wrap
					label.write-set__title.text--color-ac(for="descrip") Product description
					textarea.textarea.textarea--write-set.write-set__field#descrip(type="text" required)
				.write-set.write-set--modal.write-set--tags.fl.fl--flow-col-wrap
					label.write-set__title.text--color-ac(for="tags") Write a caption, tags...
					span.write-set__slogan I want this sneakers
					textarea.textarea.textarea--write-set.write-set__field#tags(type="text" required)
				button.modal__submit(href="#")
	// END modal add-wish
