// BEGIN modal friend
.modal.modal--list.modal--friend
	h2.modal__title.let-space--01em Friends
	ul.modal__ul
		li.modal__item.user.fl
			a.avatar--friend.avatar(href="profile.html")
				img.avatar__img.avatar__img--friend(src="public/img/photo.png" alt="photo")
			.user__links-wrap.user__links-wrap--friend.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="profile.html") sarah_hype
				a.user__link.user__link--name.user__name.user__name--modal.text--color-ac.let-space--01em( href="#") Sarah White
		li.modal__item.user.fl
			a.avatar--friend.avatar(href="#")
				img.avatar__img.avatar__img--friend(src="public/img/user-img1.png" alt="photo")
			.user__links-wrap.user__links-wrap--friend.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="#") vladimir_vjach
				a.user__link.user__link--name.user__name.user__name--modal.text--color-ac.let-space--01em(href="#") Vladimir Viacheslavovich
		li.modal__item.user.fl
			a.avatar--friend.avatar(href="#")
				img.avatar__img.avatar__img--friend(src="public/img/user-img2.png" alt="photo")
			.user__links-wrap.user__links-wrap--friend.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="#") maksymbond
				a.user__link.user__link--name.user__name.user__name--modal.text--color-ac.let-space--01em(href="#") Maksym Bondarenko
		li.modal__item.user.fl
			a.avatar--friend.avatar(href="#")
				img.avatar__img.avatar__img--friend(src="public/img/user-img3.png" alt="photo")
			.user__links-wrap.user__links-wrap--friend.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="#") disorder
				a.user__link.user__link--name.user__name.user__name--modal.text--color-ac.let-space--01em(href="#") Dmytriy Lehenkiy
		li.modal__item.user.fl
			a.avatar--friend.avatar(href="#")
				img.avatar__img.avatar__img--friend(src="public/img/user-img4.png" alt="photo")
			.user__links-wrap.user__links-wrap--friend.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="#") izushka
				a.user__link.user__link--name.user__name.user__name--modal.text--color-ac.let-space--01em(href="#") Chernova Iuliia
		li.modal__item.user.fl
			a.avatar--friend.avatar(href="profile.html")
				img.avatar__img.avatar__img--friend(src="public/img/photo.png" alt="photo")
			.user__links-wrap.user__links-wrap--friend.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="profile.html") sarah_hype
				a.user__link.user__link--name.user__name.user__name--modal.text--color-ac.let-space--01em( href="#") Sarah White
	img.modal__close(alt="close" src="public/img/close.png")
// END modal friend
