// BEGIN modal notification
.modal.modal--list.modal--notification
	h2.modal__title.let-space--01em Notification
	ul.modal__ul
		li.modal__item.user.fl
			a.avatar--notification.avatar--note-no-request.avatar(href="profile.html")
				img.avatar__img.avatar__img--notification(src="public/img/photo.png" alt="photo")
			.user__links-wrap.user__links-wrap--notification.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="profile.html") sarah_hype
				a.user__link.user__link--request.let-space--01em(href="#") sent a request to you
		li.modal__item.user.fl
			a.avatar--notification.avatar--note-no-request.avatar(href="#")
				img.avatar__img.avatar__img--notification(src="public/img/user-img1.png" alt="photo")
			.user__links-wrap.user__links-wrap--notification.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="#") vladimir_vjach
				a.user__link.user__link--request.let-space--01em(href="#") sent a request to you
		li.modal__item.user.fl
			a.avatar--notification.avatar(href="#")
				img.avatar__img.avatar__img--notification(src="public/img/user-img2.png" alt="photo")
			.user__links-wrap.user__links-wrap--notification.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="#") maksymbond
				a.user__link.user__link--request.user__link--accept-request.let-space--01em(href="#") accepted your request
		li.modal__item.user.fl
			a.avatar--notification.avatar(href="#")
				img.avatar__img.avatar__img--notification(src="public/img/user-img3.png" alt="photo")
			.user__links-wrap.user__links-wrap--notification.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="#") disorder
				a.user__link.user__link--request.user__link--accept-request.let-space--01em(href="#") accepted your request
		li.modal__item.user.fl
			a.avatar--notification.avatar--note-no-request.avatar(href="#")
				img.avatar__img.avatar__img--notification(src="public/img/user-img4.png" alt="photo")
			.user__links-wrap.user__links-wrap--notification.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="#") izushka
				a.user__link.user__link--request.let-space--01em(href="#") sent a request to you
		li.modal__item.user.fl
			a.avatar--notification.avatar--note-no-request.avatar(href="profile.html")
				img.avatar__img.avatar__img--notification(src="public/img/photo.png" alt="photo")
			.user__links-wrap.user__links-wrap--notification.fl.fl--flow-col-wrap
				a.user__link.user__link--nikename.text--color-black.let-space--01em(href="profile.html") sarah_hype
				a.user__link.user__link--request.let-space--01em(href="#") sent a request to you
	img.modal__close(alt="close" src="public/img/close.png")
// END modal notification
