.modal.modal--notification
	// BEGIN modal notification
	section.content.content--modal.content--notification.fl.fl--justify-c
		.content__container.content__container--modal
			.modal__header.fl
				h2.content__title.content__title--modal.let-space--01em Notification
				span.modal__close
			// BEGIN search-box
			.search-box
				input.input.input--search-box
				img.search-box__img(alt="search" src="public/img/search.png")
			// END search-box
			ul.list--modal.list
				li.list__li--modal
					a.user.user--modal.fl(href="profile.html" title="Name user")
						.avatar--modal.avatar--note-no-request.avatar
							img.avatar__img.avatar__img--notification(src="public/img/photo.png" alt="photo")
						.user__info.user__info--modal.fl.fl--flow-col-wrap.fl--justify-c
							span.user__nikename.text--color-black.let-space--01em sarah_hype
							span.user__request.text--color-black.let-space--01em sent a request to you
				li.list__li--modal
					a.user.user--modal.fl(href="#" title="Name user")
						.avatar--modal.avatar--note-no-request.avatar
							img.avatar__img.avatar__img--notification(src="public/img/user-img1.png" alt="photo")
						.user__info.user__info--modal.fl.fl--flow-col-wrap.fl--justify-c
							span.user__nikename.text--color-black.let-space--01em vladimir_vjach
							span.user__request.text--color-black.let-space--01em sent a request to you
				li.list__li--modal
					a.user.user--modal.fl(href="#" title="Name user")
						.avatar--modal.avatar
							img.avatar__img.avatar__img--notification(src="public/img/user-img2.png" alt="photo")
						.user__info.user__info--modal.fl.fl--flow-col-wrap.fl--justify-c
							span.user__nikename.text--color-black.let-space--01em maksymbond
							span.user__request--accept.text--color-ac.let-space--01em accepted your request
				li.list__li--modal
					a.user.user--modal.fl(href="#" title="Name user")
						.avatar--modal.avatar
							img.avatar__img.avatar__img--notification(src="public/img/user-img3.png" alt="photo")
						.user__info.user__info--modal.fl.fl--flow-col-wrap.fl--justify-c
							span.user__nikename.text--color-black.let-space--01em disorder
							span.user__request--accept.text--color-ac.let-space--01em accepted your request
				li.list__li--modal
					a.user.user--modal.fl(href="#" title="Name user")
						.avatar--modal.avatar--note-no-request.avatar
							img.avatar__img.avatar__img--notification(src="public/img/user-img4.png" alt="photo")
						.user__info.user__info--modal.fl.fl--flow-col-wrap.fl--justify-c
							span.user__nikename.text--color-black.let-space--01em izushka
							span.user__request.text--color-black.let-space--01em sent a request to you
				li.list__li--modal
					a.user.user--modal.fl(href="profile.html" title="Name user")
						.avatar--modal.avatar--note-no-request.avatar
							img.avatar__img.avatar__img--notification(src="public/img/photo.png" alt="photo")
						.user__info.user__info--modal.fl.fl--flow-col-wrap.fl--justify-c
							span.user__nikename.text--color-black.let-space--01em sarah_hype
							span.user__request.text--color-black.let-space--01em sent a request to you
	// END modal notification
