.social--login.social.fl.fl--justify-c
  a.social__icon.social__icon--facebook(href="#")
    img(src="public/img/facebook.png" alt="facebook")
  a.social__icon.social__icon--google
    img(src="public/img/google.png" alt="google")
