// BEGIN tabs
.tabs.fl.fl--justify-c.fl--align-c
  a.tabs__link.tabs__link--grid(href="#")
    img(src="public/img/grid.png" alt="icon grid")
  a.tabs__link.tabs__link--list(href="#")
    img(src="public/img/list.png" alt="icon list")
// END tabs
