// BEGIN want-gallery
.want-gallery.profile__want-gallery.fl
	a.want-gallery__item.want-gallery__item--img-1(href="#")
		img.want-list__img(src="public/img/img1.png" alt="img1")
	a.want-gallery__item.want-gallery__item--img-2(href="#")
		img.want-list__img(src="public/img/img2.png" alt="img2")
	a.want-gallery__item.want-gallery__item--img-3(href="#")
		img.want-list__img(src="public/img/img3.png" alt="img3")
	a.want-gallery__item.want-gallery__item--img-4(href="#")
		img.want-list__img(src="public/img/img4.png" alt="img4")
	a.want-gallery__item.want-gallery__item--img-5(href="#")
		img.want-list__img(src="public/img/img5.png" alt="img5")
	a.want-gallery__item.want-gallery__item--img-6(href="#")
		img.want-list__img(src="public/img/img6.png" alt="img6")
	a.want-gallery__item.want-gallery__item--img-2(href="#")
		img.want-list__img(src="public/img/img2.png" alt="img2")
	a.want-gallery__item.want-gallery__item--img-6(href="#")
		img.want-list__img(src="public/img/img6.png" alt="img6")
	a.want-gallery__item.want-gallery__item--img-1(href="#")
		img.want-list__img(src="public/img/img1.png" alt="img1")
// END want-gallery
