// Vendors
// @import './vendor/bootstrap.styl'
@import './vendor/bem/__modificators/index.styl'

// Modificators
// @import './common/__modificators/__[modificator-name].styl'

// Default styls (fonts, etc ...)
// @import './common/defaults.styl'
@import './common/font.styl'
@import './common/var&mixin.styl'
@import './common/global.styl'
@import './common/active-classes.styl'

// BEM blocks
@import './blocks/avatar.styl'
@import './blocks/comment.styl'
@import './blocks/content.styl'
@import './blocks/data-user.styl'
@import './blocks/descrip.styl'
@import './blocks/filter.styl'
@import './blocks/form.styl'
@import './blocks/hashtags.styl'
@import './blocks/header.styl'
@import './blocks/input.styl'
@import './blocks/item.styl'
@import './blocks/login.styl'
@import './blocks/logo.styl'
@import './blocks/modal.styl'
@import './blocks/profile.styl'
@import './blocks/social.styl'
@import './blocks/tabs.styl'
@import './blocks/textarea.styl'
@import './blocks/user.styl'
@import './blocks/gallery.styl'
@import './blocks/write-set.styl'
@import './blocks/img-thing.styl'
@import './blocks/search-box.styl'
@import './blocks/circles-tags.styl'
@import './blocks/search.styl'
@import './blocks/btns-control.styl'
@import './blocks/tags.styl'
@import './blocks/list.styl'
