// Vendors
// @import './vendor/bootstrap.styl'
@import './vendor/bem/__modificators/index.styl'

// Modificators
// @import './common/__modificators/__[modificator-name].styl'

// Default styls (fonts, etc ...)
// @import './common/defaults.styl'
@import './common/font.styl'
@import './common/var&mixin.styl'
@import './common/global.styl'

// BEM blocks
@import './blocks/avatar.styl'
@import './blocks/comment.styl'
@import './blocks/data-user.styl'
@import './blocks/descrip.styl'
@import './blocks/filter.styl'
@import './blocks/form.styl'
@import './blocks/hashtags.styl'
@import './blocks/header.styl'
@import './blocks/login.styl'
@import './blocks/logo.styl'
@import './blocks/modal.styl'
@import './blocks/news.styl'
@import './blocks/profile.styl'
@import './blocks/social.styl'
@import './blocks/tabs.styl'
@import './blocks/user.styl'
@import './blocks/want-gallery.styl'
