.text
	&--color-999
		color: #999

	&--color-ac
		color color-ac

	&--color-white
		color: #fff

	&--color-black
		color: #000

.let-space--01em
	letter-spacing: -.01em

.btn
	border-radius: 30px
	transition: color .35s ease-in-out, background .35s ease-in-out, box-shadow .35s ease-in-out

	&--blue
		color: #fff
		background: #b8c8e6
