body
	color: #000
	font: 14px robotoregular, sans-serif

	@media screen and (min-device-width: 576px) and (min-device-height: 576px)
		font-size: 18px

	@media screen and (min-width: 768px) and (min-device-width: 768px) and (min-device-height: 320px)
		font-size: 18px

img
	width: 100%
	height: auto
	display: block

/* ============ BEGIN mixins & variables ============ */

color-ac = #acacac

placeholder(color, font-size)
	&:placeholder
		color: color
		opacity: 1
		font: font-size robotoregular, sans-serif

	&::-ms-placeholder
		color: color
		opacity: 1
		font: font-size robotoregular, sans-serif

	&:-ms-input-placeholder
		color: color
		opacity: 1
		font: font-size robotoregular, sans-serif

	&:focus:placeholder
		opacity: 0

	&:focus::-ms-placeholder
		opacity: 0

	&:focus:-ms-input-placeholder
		opacity: 0

color-lighten(color)
	&:hover
		color: lighten(color,15%)

	&:active
		color: lighten(color,30%)

color-darken(color)
	&:hover
		color: darken(color,15%)

	&:active
		color: darken(color,30%)

/* ============ END mixins & variables ============ */
